<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png"/>
    <link rel="stylesheet" href="/css/styles.css" />
    
</head>

<body>

    <div class="main-content">
    {{>header}} <!-- To add a partial just say name of hbs file after prefix '>' -->
    <!-- <h1> {{title}} </h1> -->
    <p> This website is created by Soumya Ganesh.This website is a weather application which gives the teamperature and location of the place you search for. </p>
    <img src='img/diana.jpg' class="portrait"/>
    <!-- <p> Created by {{name}}</p> -->
    </div>

    {{>footer}}
</body>

</html>