<header>

<h1> {{title}} </h1> <!-- title comes from app.js -> corresponding get functions of help, about, etc has that field -->

<!-- Setting up the navbar -->
<div>
    <a href='/'> Weather </a>
    <a href='/about'> About </a>
    <a href='/help'> Help </a>
</div>

</header>